.content {
  padding: 16px;  
  background-color: var(--card-background);
  border-bottom: 1px solid var(--tw-border-style)  
}

.message {
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--card-foreground);  
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
